/*
/* Style for Subs Receipt
/* ======================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto:wght@400;500&display=swap');

body {
  margin: 0;
  background-color: #ececea;
}


/* Receipt Base
/* -------------------------------------------------------- */

.receipt {
  color: #606060;
  font: .875rem/1.25rem Roboto, Arial, Helvetica, sans-serif;
  width: auto;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.receipt p {
  margin-top: 0;
  margin-bottom: .25rem;
}

.receipt p:last-child {
  margin-bottom: 0;
}

/* Layout
/* **************** */

.receipt__section {
  padding: 20px 60px;
  position: relative;
}

.receipt__row {
  display: grid;
  grid-template-columns: auto auto;
}

.receipt__grid:nth-of-type(2n) {
  text-align: right;
}

.receipt__row--full-width {
  grid-column-start: span 2;
  margin-top: 0.25rem;
}

.receipt__row--title {
  margin-bottom: 1rem;
}

.receipt__row--data {
  margin-bottom: .75rem;
}

.receipt__row--sum {
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.receipt__row--title:last-child,
.receipt__row--data:last-child {
  margin-bottom: 0;
}

.receipt__gutter {
  margin: 0 60px;
  border: none;
  border-top: 1px solid #e6e6e6;
}

.receipt__gutter-leaves {
  /*margin:;*/
  height: 4px;
  background: #ffffff
              url('/img/bg-pattern-green-leaf-8x4_2x.png')
              center left
              / 8px 4px
              repeat-x;
}


/* Color
/* **************** */

.receipt .brand-text {
  color: #b1bd46;
}


/* Type
/* **************** */

.receipt h1,
.receipt h2,
.receipt h3,
.receipt h4,
.receipt h5 {
  color: #435761;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.receipt h1 {
  font-size: 1.75rem; /* 28px */
  line-height: 2.5rem;
  font-weight: 700;
}

.receipt h2 {
  font-size: 1.125rem; /* 18px */
  line-height: 2rem;
  font-weight: 600;
}

.receipt h3,
.receipt h4 {
  font-size: .875rem; /* 14px */
  line-height: 1.25rem;
  font-weight: 600;
}

.receipt h4 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.receipt h5 {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.receipt__note {
  color: #606060;
  font-size: 0.75rem;
  line-height: 1rem;
}


/* Receipt Top
/* -------------------------------------------------------- */

.receipt__section--top {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5ed;
}

.receipt__green-circle {
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 4px solid #b1bd46;
  position: absolute;
}

.receipt__green-circle--large {
  right: 210px;
  top: 10px;
}

.receipt__green-circle--medium {
  width: 1.25rem;
  height: 1.25rem;
  border-width: 3px;
  right: 40px;
  bottom: 40px;
}

.receipt__green-circle--small {
  border-width: 2px;
  width: 1rem;
  height: 1rem;
  right: 80px;
  top: 40px;
}


/* Receipt Title
/* -------------------------------------------------------- */

.receipt__section--welcome {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  background: #b1bd46
              url('/img/illu-ghost-eye-206x140_2x.png')
              center right
              / contain
              no-repeat;
}

.receipt__section--welcome h1 {
  color: #fff;
}

.receipt__section--welcome h2 {
  color: #fff;
  font-weight: 400;
}


/* Receipt Title
/* -------------------------------------------------------- */

.receipt__section--footer {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.receipt__section--footer .receipt__gutter-leaves {
  margin-bottom: 1.25rem;
}

.receipt__section--footer h5 {
  color: #b1bd46;
  text-align: center;
}

.receipt__section--footer p {
  color: #999999;
  font-size: 0.75rem;
  text-align: center;
}

.receipt__section--footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
}